@-webkit-keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@-webkit-keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

.slide.hide {
	opacity: 0;
	animation-name: transitionOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.slide.show {
	animation-name: transitionIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

body {
	font-family: "ATC Overlook", "Futura", Sans-serif;
	background-color: rgba(255,255,255,1);
}

h2 {
	font-size: 2.4rem;
	line-height:7rem;
	text-align:center;
}

p {
	font-size: 1rem;
	padding-bottom: 1vh;
	line-height: 1.6rem;
}


header {
	height: 70vh;
	color: white;
	font-size: 2rem;
	index: 2;
	background-color: #333;
}

header nav  { 
	position: absolute;
	top: 3rem;
	right: 3rem;
	width: auto;
	z-index: 2;
	text-align: right;
}

h1 a { 
	position: absolute;
	top: 3rem;
	left: 3rem;
	width: auto;
	z-index: 2;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 0px 0px 3px rgba(50,50,50,1);
	color: rgba(255,255,255,1);
}

header nav a {
	color: white;
	font-size: 1.2rem;
	margin-left: 3rem;
}

header .slide {
	position: absolute;
	top:0;
	left:0;
	height: 70vh;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #555;
	z-index: 1;
	opacity: 0;
}


#about {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#about p {
	margin: 0rem 2rem 1rem 2rem;
	max-width: 520px;
}

#gallery {
	margin: 0 auto;
	text-align: center;
	padding: 5rem 0;
}

#gallery-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

#gallery-images img {
	margin: 1rem;
}

.button {
	position: fixed;
	top: 50%;
	z-index: 9;
	text-align: right;
	color: rgba(255,255,255,1);
	text-shadow: 0px 5px 5px color(0,0,0,1);
}

.button_next {
	right: 2rem;
}

.button_prev {
	left: 2rem;
	text-align: left;
}

.button_close {
	top: 2rem;
	right: 2rem;	
}

#slideshow {
	background-color: rgba(0,0,0,1);
/* 	position: absolute;
	top:0;right:0;bottom:0;left:0;
	background-color: transparent;
	z-index:11; */
}

#slideshow .slide {
	position: absolute;
	top:0; left: 0; bottom; right:0;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	background-color: rgba(0,0,0,1);
}

footer {
	text-align: center;
	background-color: #fff;
	color: #444;
	height: 50vh;
	padding: 5rem 0 10rem 0;
}


footer input {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	height: 2.4rem;
	width: 30rem;
}
