body {
	font-family: "Avenir", "Gotham", Sans-serif;
	background-color: rgba(255,255,255,1);
	color: #444;
}

@keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@-webkit-keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@-moz-keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@-moz-keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

#slideshow {
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	opacity:1;
}

#slideshow .slide {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right:0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.show { opacity: 1; }
.hide { opacity: 0; }
strong { font-weight: bold; }

.slide.hide {
	opacity: 0;
	animation-name: transitionOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-style: ease-out;
}

.slide.show {
	animation-name: transitionIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-style: ease-in;
}

#slideshow .slide.portrait {
	background-size: contain;
}

h2 {
	font-size: 2.4rem;
	line-height:6rem;
}

p {
	font-size: 1rem;
	padding-bottom: 1vh;
	line-height: 1.6rem;
}

section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

section .slide {
	position: absolute;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	z-index: 1;
	opacity: 0;
}

#header {
	justify-content: flex-start;
}

#header nav {
	width: 95%;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding-top: 2rem;
}

section nav a {
	font-size: 1.4rem;
	color: rgb(255,255,255);
}

section.gallery nav a {
	color: rgb(40,40,40);
}

section nav a.link {
	margin-left: 2rem;
}

section h1 a {
	font-size: 2rem;
}

section h2 {
	text-align: center;
}

#about .content {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#about .content .bio-image {
	height: 22rem;
	min-width: 25%;
	margin-right: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#about .content .bio-text {
	max-width: 40%;
}

#gallery {
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	padding: 2rem 0;
	background-color: #fafafa;
}

#gallery-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 80%;
	max-width: 1080px;
}

#gallery-images img {
	padding: 0.5rem;
}

.button {
	position: absolute;
	top: 45vh;
	z-index: 10;
	color: white;
	width: 5rem;
	cursor: pointer;
}

.left-controll {
	left: 0rem;
}

.right-controll {
	right: 0rem;
	text-align: right;
}


#contact {
	display: flex;
	justify-content: center;
}

.form *:focus {
    outline: 0 none;
}

.form.success input {
	display: none;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 80%;
	margin: 0 auto;
}

.form input, .form textarea {
	/*display: block;*/
	border: 0 none;
	box-sizing: border-box;
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	font-style: italic;
	margin: 0 auto;
	height: 3.5rem;
	max-width: 90%;
}

.form .contact-input {
	margin-top: 0.2rem;
	background-color: rgb(233,223,203);
}

.contact-input:focus::-webkit-input-placeholder {
	color: rgba(0,0,0,0.1);
}

.contact-input:focus {
	background-color: rgb(246,243,236);
}

.contact-input::-webkit-input-placeholder {
	color: rgba(65,68,83,1);
}

textarea.contact-input {
	box-sizing: border-box;
	border: 0 none;
	height: 6rem;
	padding: 1rem;
}

.response {
	box-sizing: border-box;
	width: 30rem;
	max-width: 80%;
	padding: 1rem;
	margin:0 auto;
	text-align: center;
}

.response.success, .response.success.failure {
	background-color: rgba(204,239,217,1);
	color: rgba(0,174,65,1);
}

.response.failure {
	background-color: rgba(255,219,204,1);
	color: rgba(255,76,0,1);
}

form .contact-button {
	background-color: rgba(65,68,83,1);
	height: 3.2rem;
	width: 15rem;
	color: rgba(255,255,255,1);
	margin-top: 2rem;
	border: 0 none;
	border-radius: 0.25rem;
}

.contact-button:hover { background-color: rgba(50,50,50,1);}
.contact-button:active { background-color: rgba(35,146,77,1);}

@media (max-width: 768px) {


	#about .content {
		flex-direction: column;
		align-items: center;
	}

	#about .content .bio-image {
		width: 12rem;
		height: 12rem;
		margin-bottom: 4rem;
		border-radius: 16rem;
	}

	#about .content .bio-text {
		max-width: 80%;
	}

	#about .content .bio-text p {
		margin-bottom: 2rem;
	}

	#gallery-images {
		min-width: 100%;
	}

	#gallery-images img {
		width: 160px;
	}

	.button.controll {
		width: 48px;
	}
}

@media (max-width: 414px) {

	#header nav  {
		flex-direction: column;
	}

	#header nav .link {
		margin-left: 0;
		margin-right: 2rem;
		line-height: 4rem;
	}


	#gallery-header h1 {
		align-self: flex-start;
		margin-left: 1rem;
		margin-right: auto;
		font-size: 2rem;
	}

	#slideshow .slide {
		background-position: top center;
	  background-size: auto 100%;
	  overflow: hidden;
	}

	h2 {
		font-size: 2rem;
		line-height: 6rem;
	}

	#gallery-images {
		overflow: auto;
	}

	#gallery-images img {
		width: 100px;
		flex-shrink: 1;
	}

	#gallery-images a:last-child {
		display: none;
	}

}
