body {
	font-family: "ATC Overlook", "Futura", Sans-serif;
}

p {
	font-size: 1rem;
	padding-bottom: 1vh;
	line-height: 1.6rem;
}

header {
	height: 90vh;
/*	background-color: #efefef; */
	background-image: url('../images/jpegs/ternynck-15-09-23.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #555;
}

header nav {
	text-align: right;
	margin-right: 2rem;
}

#about {
	display: flex;
}

#about p {
	margin: 2rem
}

