body {
	font-family: "ATC Overlook", "Futura", Sans-serif;
	background-color: rgba(255,255,255,1);
	color: #444;
}

@-webkit-keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@-webkit-keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

#slideshow {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	opacity:1;
}

#slideshow .slide {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right:0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

.show { opacity: 1; }
.hide { opacity: 0; }

.slide.hide {
	opacity: 0;
	animation-name: transitionOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-style: ease-out;
}

.slide.show {
	animation-name: transitionIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-style: ease-in;
}

#slideshow .slide.portrait {
	background-size: contain;
}

h2 {
	font-size: 2.4rem;
	line-height:12rem;
	text-align:center;
}

p {
	font-size: 1rem;
	padding-bottom: 1vh;
	line-height: 1.6rem;
}

header {
	height: 70vh;
	color: white;
	font-size: 2rem;
	index: 2;
}

header nav  { 
	position: absolute;
	top: 2rem;
	right: 3rem;
	width: auto;
	z-index: 2;
	text-align: right;
}

h1 a { 
	position: absolute;
	top: 2rem;
	left: 3rem;
	right:3rem;
	width: auto;
	z-index: 2;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(255,255,255,1);
}

h1 a.center {
	text-align: center;
}

header nav a {
	color: white;
	font-size: 1.2rem;
	margin-left: 3rem;
}

header .slide {
	position: absolute;
	top:0;
	left:0;
	height: 70vh;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 1;
	opacity: 0;
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 80%;
}

#about p {
	margin: 0rem 2rem 1rem 2rem;
	width: 80%;
}

#gallery {
	margin: 0 auto;
	text-align: center;
	padding: 5rem 0;
}

#gallery-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin:0 auto;
	max-width: 80%;
}

#gallery-images img {
	padding: 0.5rem;
}

.button {
	position: absolute;
	top: 45vh;
	z-index: 10;
	color: white;
	width: 5rem;
	cursor: pointer;
}

.left-controll {
	left: 1rem;
}

.right-controll {
	right: 1rem;
	text-align: right;
}

footer {
	text-align: center;
	color: #444;
	height: 50vh;
	padding: 5rem 0 10rem 0;
}

footer h2 {
	line-height: 2.4rem;
}

footer h3 {
	line-height: 2rem;
	color: rgba(150,150,150,1);
	font-style: italic;
	margin-bottom: 2rem;
}

.form *:focus {
    outline: none;
}

.form.success input {
	display: none;
}

.form input {
	display: block;
	border: 0 none;
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	font-style: italic;
	margin: 0 auto;
	height: 3.5rem;
}

.form .contact-input {
	width: 30rem;
	max-width: 80%;
	margin-top: 0.2rem;
	background-color: rgba(233,223,203,1);
}

.contact-input:focus::-webkit-input-placeholder {
	color: rgba(0,0,0,0.1);

}

.contact-input:focus {
	background-color: rgba(246,243,236,1);
}

.contact-input::-webkit-input-placeholder {
	color: rgba(65,68,83,1);
}

form .contact-button {
	background-color: rgba(65,68,83,1);
	height: 3.2rem;
	width: 15rem;
	color: rgba(255,255,255,1);
	margin-top: 2rem;
	border: 0 none;
	border-radius: 0.25rem;
}

.contact-button:hover { background-color: rgba(50,50,50,1);}
.contact-button:active { background-color: rgba(35,146,77,1);}

@media (max-width: 768px) {
	#about {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width:100%;
	}

	#about p {
		margin: 0rem 2rem 1rem 2rem;
		min-width: 80%;
	}

	#gallery { padding: 0rem 0; }
	
	#gallery-images {
		min-width: 100%;
	}
	
	#gallery-images img {
		width: 200px;
	}
}

@media (max-width: 414px) {
	
	header h1 {
		position: relative;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		padding-top: 1rem;
		z-index: 2;
	}
	
	header h1 a {
		position: relative;
		text-align: center;
		top: inherit;
		left: inherit;
/*		color: #444;*/
		text-shadow: none;
	}
	
	header nav  { 
		position: relative;
		margin: 0 auto;
		padding: 0;
		z-index: 2;
		text-align: center;
		left: inherit;
		opacity: 0;
	}

	header nav a {
		font-size: 1.2rem;
		margin-left: 0rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}
	
	header {
		height: 40vh;
	}
	
	header .slide {
		height: 40vh;
		background-position: top center;
	    background-size: 100% auto;
	    overflow: hidden;
	}

	h2 {
		line-height: 6rem;
	}
	
	#gallery-images img {
		width: 120px;
	}
	
	footer {
		padding-top: 2rem;
	}
} 