body {
	font-family: "Avenir", "Gotham", Sans-serif;
	background-color: rgba(255,255,255,1);
	color: #444;
}

@keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@-webkit-keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@-moz-keyframes transitionOut {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@-moz-keyframes transitionIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

#slideshow {
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	opacity:1;
}

#slideshow .slide {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right:0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

.show { opacity: 1; }
.hide { opacity: 0; }
strong { font-weight: bold; }

.slide.hide {
	opacity: 0;
	animation-name: transitionOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-style: ease-out;
}

.slide.show {
	animation-name: transitionIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-style: ease-in;
}

#slideshow .slide.portrait {
	background-size: contain;
}

h2 {
	font-size: 2.4rem;
	line-height:6rem;
}

p {
	font-size: 1rem;
	padding-bottom: 1vh;
	line-height: 1.6rem;
}

header {
	height: 100vh;
	color: white;
	font-size: 1.4rem;
	index: 2;
}

header nav  {
	position: absolute;
	width: 100%;
	display: flex;
	z-index: 2;
	flex-direction: row;
	justify-content: flex-end;
	line-height: 48px;
}

header nav img {
	position: absolute;
	top: 0.75rem;
	width: 2rem;
}

header nav a {
	color: white;
	margin-right: 2rem;
}

h1 {
	align-self: flex-start;
	margin-left: 1rem;
	margin-right: auto;
	font-size: 2rem;
}


header .slide {
	position: absolute;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: 1;
	opacity: 0;
}

#about {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#about-content {
	display: flex;
	justify-content: center;
}

#about p {
	margin: 0rem 2rem 1rem 2rem;
	width: 30%;
}

#gallery {
	height: 100vh;
	margin: 0 auto;
	text-align: center;
	padding: 2rem 0;
}

#gallery-header h1 {
		margin-left: 1rem;
		font-size: 2rem;

}

#gallery-header a {
	color: #222;
}

#gallery-images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin:0 auto;
	max-width: 80%;
}

#gallery-images img {
	padding: 0.5rem;
}

.button {
	position: absolute;
	top: 45vh;
	z-index: 10;
	color: white;
	width: 5rem;
	cursor: pointer;
}

.left-controll {
	left: 0rem;
}

.right-controll {
	right: 0rem;
	text-align: right;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 100vh;
}

.form *:focus {
    outline: 0 none;
}

.form.success input {
	display: none;
}

.form input, .form textarea {
	display: block;
	border: 0 none;
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	font-style: italic;
	margin: 0 auto;
	height: 3.5rem;
}

.form .contact-input {
	width: 30rem;
	max-width: 80%;
	margin-top: 0.2rem;
	background-color: rgba(233,223,203,1);
}

.contact-input:focus::-webkit-input-placeholder {
	color: rgba(0,0,0,0.1);
}

.contact-input:focus {
	background-color: rgba(246,243,236,1);
}

.contact-input::-webkit-input-placeholder {
	color: rgba(65,68,83,1);
}

textarea.contact-input {
	box-sizing: border-box;
	border: 0 none;
	height: 6rem;
	padding: 1rem;
}

.response {
	box-sizing: border-box;
	width: 30rem;
	max-width: 80%;
	padding: 1rem;
	margin:0 auto;
	text-align: center;
}

.response.success, .response.success.failure {
	background-color: rgba(204,239,217,1);
	color: rgba(0,174,65,1);
}

.response.failure {
	background-color: rgba(255,219,204,1);
	color: rgba(255,76,0,1);
}

form .contact-button {
	background-color: rgba(65,68,83,1);
	height: 3.2rem;
	width: 15rem;
	color: rgba(255,255,255,1);
	margin-top: 2rem;
	border: 0 none;
	border-radius: 0.25rem;
}

.contact-button:hover { background-color: rgba(50,50,50,1);}
.contact-button:active { background-color: rgba(35,146,77,1);}

@media (max-width: 768px) {
	#about-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-width:100%;
	}

	#about p {
		margin: 0rem 2rem 1rem 2rem;
		min-width: 80%;
	}

	#gallery { padding: 0rem 0; }

	#gallery-images {
		min-width: 100%;
	}

	#gallery-images img {
		width: 200px;
	}

	.button.controll {
		width: 48px;
	}
}

@media (max-width: 414px) {

	header nav  {
		display: flex;
		flex-direction: row;
		flex-flow: wrap;
		align-items: center;
		justify-content: center;
		line-height: 48px;
		font-size: 1.2rem;
	}

	header nav img {
		width: 2rem;
	}

	header nav .link {
		display: none;
	}

	h1 {
		font-size: 1.4rem;
		margin-right: 0;
		text-align: center;
	}

	#gallery-header h1 {
		align-self: flex-start;
		margin-left: 1rem;
		margin-right: auto;
		font-size: 2rem;
	}

	header {
		height: 40vh;
	}

	header .slide {
		height: 40vh;
		background-position: top center;
	    background-size: 100% auto;
	    overflow: hidden;
	}

	#slideshow .slide {
		background-position: top center;
	    background-size: auto 100%;
	    overflow: hidden;
	}

	h2 {
		font-size: 2rem;
		line-height: 6rem;
	}

	#gallery-images img {
		width: 120px;
	}

	footer {
		padding-top: 2rem;
	}
}
